html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  text-align: center;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0px;
  background-color: #ffffff;
  min-width: 430px;
  min-height: 400px;
  /* max-width: 800px; */
  font-size: 17px;
  /* border: 2px solid white; */
  /* border-radius: 11px; */
}

#fullApp {
  width: 430px;
  height: 560px; /* extensions like fixed height */
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  /* border-radius: 40px; */
  background-color: white;
  border-radius: 24px;
  /* overflow: hidden; */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

#headDiv {
  background-color: #6f00ff;
  color: white;
  display: flex;
  flex-direction: column;
  height: 178px;
  justify-content: space-evenly;
  align-items: center;
}

#headTitle {
  margin: 0;
  font-size: 21px;
  font-weight: 900;
}

#valueInput {
  width: 136px;
  height: 56px;
  background-color: #6f00ff;
  border: 2px solid white;
  text-align: center;
  font-size: 38px;
  /* padding-left: 22px; */
  font-weight: bold;
  color: white;
  border-radius: 7px;
}

#convertBtn {
  border: none;
  border-radius: 20px;
  padding: 11px 23px;
  font-size: 20px;
  font-size: 17px;
  font-weight: 700;
  background-color: white;
  color: #6f00ff;
}

#conversionCards {
  background-color: #ededed;
  /* takes the remaining space */
  flex: 1;
  overflow-y: auto; /* allows scrolling if content grows */
}
.card {
  margin: 17px;
  background-color: white;
  /* width: 70vh; */
  padding: 27px;
  border-radius: 12px;
  font-size: 14px;
}
.cardTitle {
  font-weight: 900;
  margin-bottom: 10px;
}
.cardConversions {
}
